* { margin: 0; padding: 0 }
html {
    min-height: 100%;
    font-family: Helvetica, sans-serif;
}
body {
    align-content: center;
    display: flex;
    justify-content: center;
}
form {
    text-align: center;
}
form > * {
    margin: 8px;
}
main {
    background: pink;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    height: 480px;
    margin-top: 5%;
    position: absolute;
    width: 360px;
}
.button {
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    display: grid;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 16px;
    -padding: 5px 5px 5px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}
.button:active { 
    border-color: #BBBBBB; 
}
.button-start  { 
    background-color: rgb(16, 175, 2); 
}
.button-stop { 
    background-color: rgb(195, 1, 1); 
    color: white; 
}
.frame {
    align-content: stretch;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    visibility: collapse;
}
.contentWrapper > * {
    margin-left: 30%;
    width: 40%;
}
.contentWrapper > p {
    text-align: center;
}
.contentWrapper {
    margin-top: 20%;
}
.timer {
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
#BeginButton {
    bottom: 16px;
}
#SettingsForm > label {
    text-align: center;
}
#TimerMenu > button {
    -margin-bottom: 20px;
    -padding: 10px;
}
