* { margin: 0; padding: 0 }
        html {
          min-height: 100%;
        }
        body {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        main {
            border: 2px solid rgb(255, 0, 0);
            margin-top: 5%;
            border-radius: 50px;
            width: 360px;
            height: 480px;
            
            background: pink;
        }
        .frame {
            -visibility: collapse;
            display: none;
            
            align-content: stretch;
            justify-content: center;
        }
        .frame > p {
            margin-top: 30%;
            text-align: center;
        }
        .frame > * {
            margin-left: 30%;
            width: 40%;
        }

        .button{
            display: grid;
            font-family:'Roboto', sans-serif;
            font-weight: bold;
            border-radius: 6px;
            margin: auto;
            padding: 5px 5px 5px;
            text-transform: uppercase;
            text-align: center;
            border-color: rgb(0, 0, 0);
        }
        .button:active{ border-color: #BBBBBB; }
        .button-start           { background-color: rgb(16, 175, 2); }
        .button-stop            { background-color: rgb(195, 1, 1); 
                                  color: white; 
                                }

        .timer{
            font-family:'Roboto', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }