* { margin: 0; padding: 0 }
        html {
          min-height: 100%;
        }
        body {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        main {
            margin-top: 25%;
            width: 360px;
            height: 480px;
            
            background: pink;
        }
        .frame {
            -visibility: collapse;
            display: none;
            
            align-content: stretch;
            justify-content: center;
        }
        .frame > p {
            margin-top: 30%;
            text-align: center;
        }
        .frame > * {
            margin-left: 30%;
            width: 40%;
        }